
*{
	padding:0;
	margin: 0;
	font-family: 'arya';
}

#banner{
background: url(images/background.jpg);
background-size: cover;
background-position: center;
height: 100vh;
}



.logo
{
	position: absolute;
	top: 4%;
	left: 10%;
	height: 80px;
	width: 100px;
}

.banner-text
{
	text-align: center;
	color:  linear-gradient(to right, red , yellow);
	padding-top: 160px;

}
.banner-text h1{
	font-size: 60px;

}
.banner-text p{
	font-size: 30px;
	font-style: italic;
	font-family: 'Caveat', cursive;
}
.banner-text p1{
	padding-left: 110px;
	font-size: 20px;
	font-style: italic;
	}

@media screen and (max-width: 770px){
	.banner-text h1{
		
		font-size: 30px;
		}
		
}

/*footer*/
	.wrapper{
		width: 100%; 
		display: flex;
		flex-direction: row;
		align-items: center; 
		text-align: center;
		justify-content: space-around;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 770px){
		.wrapper{
			flex-direction: column;
			align-items: center;
			width: 100%;
			
		}
	}
	.section-header{
		width: 98%;
			text-align: center;
			margin-bottom: 33px;
			}
	.section-header h1{
		text-transform: uppercase;
		margin: 0;
		color: red;
		font-size: 45px;
		letter-spacing: 5px;
	}

	.Team-member{
		margin-left: 250px;
		width: 22%;
		align-content: center;
		height: auto;
		box-shadow: 5px 5px 15px gray;
		position: relative;
		display: block;
		overflow: hidden;
		padding: 15px;
		text-align: center;
		margin: 0 5px;
		background-clip: #ff1546;
		transition: 0.5S;
		cursor: pointer;
		/*background-color: gray;*/
	}
	.Team-member:hover, h3:hover{
		background-color: #DEA7F8 ;
		font-color:white;
	}
	/*.Team-member img{
		width: 100%;
	}*/
	.Team-member h3{
		margin: 0;
		text-transform: uppercase;
		font-size: 25px; 
		color: black;

	}
	.Team-member p{
		color: red;

	}

	.Team-member img{
		width: 200px;
		height: 200px;
	}
@media only screen and (max-width: 770px){
		.Team-member{
			justify-content: space-around;
		width: 80%;
		height: auto;
		
		box-shadow: 5px 5px 15px gray;
		position: relative;
		display: block;
		overflow: hidden;
		padding: 15px;
		text-align: center;
		margin-bottom: 20px;
		background-clip: #ff1546;
		/*background-color: gray;*/
	}

	.section-header h1{
		text-transform: uppercase;
		margin-top: 15px;
		color: red;
		font-size: 30px;
		letter-spacing: 5px;
		margin-bottom: -20px;
		
	}
	}
	i{
	padding: 5px 2px 5px;
	color: gold;
	text-shadow: 0px 0px 5px black;
}
a:link, a:visited {
  background-color: #6BC168;
  color: black;
  border: 2px solid green;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  width: 95%;
}

a:hover, a:active {
  background-color: #228A1E;
  color: white;
}
p1{
	text-align: center;
}





body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
  height: auto;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
  margin-left: 20%;
  margin-top: 25px;
  opacity: 5;

 
}

/* Modal Content/Box */
.modal-content {
opacity: 5;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {

.item{

	width: 100%;
	text-align: left;
}
}
.txt{
	width: 100%;
	border-radius: 7px;
	transition: 0.3s;
}
.txt:hover{
	outline: none;
	box-shadow: 0px 0px 5px green;
	scroll-behavior: none;

}
p1{
	font-size: 20px;
	color: green;
}
.footer{
	width: 100%;
	height: auto;
	text-align: center;
	background-color:black;
	color: white;
	font-size: 10px;
}
.foot
{
	text-align: center;color: white; border: none;
}